/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: bisque;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos do cabeçalho */
h1 {
    text-align: center;
    color: #333;
}

hr {
    border: 2px solid #333;
}

img {
    display: block;
    margin: 0 auto;
}

cite {
    display: block;
    text-align: center;
    font-style: italic;
}

/* Estilos dos parágrafos de texto */
p {
    text-align: justify;
    line-height: 1.6;
    color: #444;
}

/* Estilos dos títulos */
h2 {
    color: #333;
    margin-top: 20px;
}

/* Estilos da lista ordenada */
ol {
    padding-left: 20px;
    margin-top: 10px;
}

/* Estilos dos itens de lista dentro da lista ordenada */
ol li {
    list-style-type: decimal;
    margin-bottom: 5px;
}

/* Estilos dos links */
a {
    color: #007acc;
    text-decoration: none;
}

/* Estilos dos botões */
button {
    background-color: #007acc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button img {
    vertical-align: middle;
    margin-left: 5px;
}